#about {
    padding: 50px 120px;
}

#about h1 {
    font-size: 66px;
    padding: 20px 0;
    color: #484444;
    margin-bottom: 42px;
}

#about p {
    font-size: 36px;
    color: #484444;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 200;
    list-style: disc;
}

.flex-container {
    padding: 0px 200px;
}

.flex-container div {
    margin-bottom: 40px;
}

.flex-container h2 {
    font-size: 46px;
    color: #484444;
    margin-bottom: 26px;
}

#mission{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mission p{
    font-size: 36px;
    color: #484444;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 200;
}

#vision{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#vision p{
    font-size: 36px;
    color: #484444;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 200;
}