#header {
    height: 710px;
    /* background-image: ; */
    /* PlaceHoalder */
    background-color: lightblue;
    padding: 100px 50px;
}

#header h1 {
    font-size: 76px;
    color: #484444;
    margin-bottom: 42px;
}

#header p {
    font-size: 40px;
    color: #484444;
    padding-left: 30px;
}

#eligibility {
    padding: 50px 130px;
}

#eligibility h2 {
    font-size: 60px;
    color: #484444;
    margin-bottom: 42px;
}

#eligibility ul {
    font-size: 40px;
    color: #484444;
    padding-left: 150px;
}