#div_navbar{
    background-color: yellow;
    width: 100vw;
    height: 12.5vh;
}

#div_middle{
    background-color: red;
    width: 100vw;
    height: 36.9vh;
    display: grid;
}

#div_footer{
    background-color: yellow;
    width: 100vw;
    height: 50.6vh;
}

#div_text{
    background-color: green;
    width: 80vw;
    height: 20vh;
    margin: 20px 800px 0 200px;
}

h3{
    margin: 20px 600px 0 50px;
}

